/.idea
/.vscode
/vendor/srmklive/paypal/tests/Mocks/samples/sample2.pdf
/vendor/srmklive/paypal/tests/Mocks/samples/sample.pdf 
/storage/logs/*.log
/storage/logs/*.*
/vendor
composer.lock
/storage/framework/sessions/
/storage/framework/views/
/storage/uploads/sample/
# Ignore everything inside storage/framework
/storage/framework/*
# But not the framework directory itself
!/storage/framework/
